body {
    background-color: #f5ece9;
    width: 100%;
    height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 1fr auto;
  /* grid-gap: 1em; */
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

header {
  /* Start on Row 1 */
  grid-row: 1;
  /* take up entire page */
  grid-column: 1 / 4;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  background-color: #c1e0de;
}

.sidebar-left {
  /* Start on Row 2 */
  grid-row: 2;
  /*  go from 1st col to 2nd col */
  grid-column: 1 / 2;
  font-family: 'EB Garamond', serif;
  background-color: #f2deda;
}

article {
  /* Start on Row 2 */
  grid-row: 2;
  /* go from 2nd col to 3rd col */
  grid-column: 2 / 3;
  font-family: 'EB Garamond', serif;
  /* background-color: #f5ece9; */
  background-color: #ffff;
  padding: 10px;
}

.sidebar-right {
  /* Start on Row 2 */
  grid-row: 2;
  /* go from 3rd col to 4th */
  grid-column: 3 / 4;
  font-family: 'EB Garamond', serif;
  background-color: #f2deda;
}

footer {
  /* Start on Row 3 */
  grid-row: 3;
  grid-column: 1 / 4;
  font-family: 'EB Garamond', serif;
  text-align: center;
  /* width: 100vw; */
  background-color: #c1e0de;
}

h1, h2 {
    color: #006e66;
  }

  h3 {
    color: #73203d;
  }
  
  p {
    color: #3d3c39;
    font-size: 18px;
  }
  
  ul {
    border: 3px dotted #F56476;
  }
  
  ol {
    border: 3px dotted #F56476;
  }
  
  ol, ul {
    padding: 15px 20px;
    border-radius: 4px;
  }
  
  h1, strong {
    color: #2e294e;
  }
  
  em {
    color: #46275e;
  }
  
  li {
    font-size: 18px;
  }